@page
@model Hospital_Management_Project.Areas.Identity.Pages.Account.ConfirmEmailModel

@{
    ViewData["Title"] = "Confirm Email";
}

<style>
    .custom-swal-title {
        font-size: 18px; 
    }

    .custom-swal-content {
        font-size: 14px; 
    }
</style>

<div class="container">
    <div class="content">

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var statusMessage = '@Model.StatusMessage';

            if (statusMessage) {
                Swal.fire({
                    icon: 'success',
                    title: statusMessage,
                    showConfirmButton: true,
                    confirmButtonText: 'Ok',
                    customClass: {
                        title: 'custom-swal-title', 
                        content: 'custom-swal-content' 
                    },
                }).then(() => {
                    window.location.href = "/Identity/Account/login";
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'There was a problem confirming your email. Please try again later.',
                    showConfirmButton: true,
                    confirmButtonText: 'Ok',
                    customClass: {
                        title: 'custom-swal-title',
                        content: 'custom-swal-content'
                    },
                }).then(() => {
                    window.location.href = "/Home/";
                });
            }
        });
    </script>
}
