@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container text-center my-5">
    <div class="content justify-content-center">
        <h3 class="text-primary">@ViewData["Title"]</h3>

        <p>
            Please check your email to reset your password.
        </p>

        <img src="~/img/Confirmed.gif" class="img-fluid my-2" alt="Forgot Password Image" style="width:450px;height:450px;" />
    </div>
</div>
