@model Appointment

<div class="page-wrapper">
    <div class="Container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Add Appointment</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- Hidden fields for PatientID and DoctorID -->
                    <input type="hidden" asp-for="PatientID" />
                    <input type="hidden" asp-for="DoctorID" />

                    <div class="form-group">
                        <label>Patient Name</label>
                        <input type="text" class="form-control" value="@Model.Patient?.FirstName @Model.Patient?.LastName" readonly />
                    </div>

                    <div class="form-group">
                        <label asp-for="StartDateTime">Start Date & Time</label>
                        <input asp-for="StartDateTime" type="datetime-local" class="form-control" />
                        <span asp-validation-for="StartDateTime" class="text-danger"></span>
                    </div>

                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn">Create Appointment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
