@model IEnumerable<Doctor>


<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-3">
                <h4 class="page-title">Doctors</h4>
            </div>
           
        </div>

        <!-- Doctor Grid -->
        <div class="row doctor-grid">
            @foreach (var doctor in Model)
            {
                <div class="col-md-4 col-sm-4 col-lg-3">
                    <div class="profile-widget">
                        <div class="doctor-img">
                            <a class="avatar" href="profile.html"><img alt="" src="~/@doctor.Img"></a>
                        </div>

                     
                        <!-- Doctor Details -->
                        <h4 class="doctor-name text-ellipsis"><a href="profile.html">@doctor.FullName</a></h4>
                        <div class="user-country">
                            <i class="fa fa-map-marker"></i> @doctor.City
                        </div>
                        <a asp-action="Create" asp-route-DoctorID="@doctor.Id" class="btn btn-primary">Make Appointment </a>
                    </div>

                </div> <!-- End of Column -->
            }
        </div> <!-- End of Doctor Grid -->
    </div> <!-- End of Content -->
</div> <!-- End of Page Wrapper -->

<div class="sidebar-overlay" data-reff=""></div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
