@model NurseVM

@{
    ViewData["Title"] = "Edit";
    Layout = "_NurseLayout";
}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Add Nurse</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <input hidden asp-for="ID" />
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Name <span class="text-danger">*</span></label>
                                <input asp-for="Name" class="form-control" type="text" required />
                                <span asp-validation-for="Name" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Username<span class="text-danger">*</span></label>
                                <input asp-for="UserName" class="form-control" type="text" required />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Email <span class="text-danger">*</span></label>
                                <input asp-for="Email" class="form-control" type="email" required />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Password <span class="text-danger">*</span></label>
                                <input asp-for="Password" class="form-control" type="password" required />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="DateOfBirth" class="control-label"></label>
                            <input asp-for="DateOfBirth" class="form-control" type="date" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group gender-select">
                                <label class="gen-label">Gender:</label>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" asp-for="Gender" name="gender" value="Male" class="form-check-input" id="Male">Male
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" asp-for="Gender" name="gender" value="Female" class="form-check-input" id="Female">Female
                                    </label>
                                </div>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>City</label>
                                <input asp-for="City" class="form-control" type="text" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 ">
                            <div class="form-group">
                                <label>Postal Code</label>
                                <input asp-for="ZipCode" type="text" class="form-control" required />
                                <span asp-validation-for="ZipCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 ">
                            <div class="form-group">
                                <label>Phone</label>
                                <input asp-for="PhoneNumber" class="form-control" type="text" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DoctorID">Doctor</label>
                                <select asp-for="DoctorID" asp-items="ViewBag.doctors" class="select form-control" size="1">
                                    <option value="">-- Select Doctor --</option> <!-- Placeholder option -->
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DepartmentID">Department Name</label>
                                <select asp-for="DepartmentID" asp-items="ViewBag.dept" class="select form-control" size="1">
                                    <option value="">-- Select Department --</option> <!-- Placeholder option -->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Avatar</label>
                            <div class="profile-upload">
                                <div class="upload-img">
                                    <img src="~/assets/img/user.jpg" alt="Default Image" id="ImagePreview" />
                                </div>
                                <div class="upload-input">
                                    <input asp-for="Img" type="file" class="form-control" id="imgfile" onchange="Image(event);" name="Img" />
                                </div>
                                <span asp-validation-for="Img" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        var Image = function (event) {
            var img = document.getElementById("ImagePreview");
            img.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>
}



